::placeholder {
   color:rgba(255,255,255,.7);
}

button.y {
   background: lightgreen;
   border: 0;
   border-radius: 1em;
   margin-top: 0.5vh;
   padding: 0.5em 1em;
   color: black;
   font-weight: 800;
}

button.n {
   background: red;
   border: 0;
   border-radius: 1em;
   margin-top: 0.5vh;
   padding: 0.5em 1em;
   color: black;
   font-weight: 800;
}

a button.home-btn {
   width: 17vh;
   background: none;
   border: 0.2vh solid white;
   border-radius: 0.6vh;
   color: white;
   padding: 1.6vh 0;
   font-size: 1.3em;
   font-family: Raleway;
   margin-right: 3vh;
   cursor: pointer;
   box-shadow: 0.3vh 0.3vh 1vh black;
   transition-duration: 0.2s;
   letter-spacing: 0.7vh;
   text-indent: 0.7vh;
}

a button.home-btn:hover {
   transform: scale(1.05);
   box-shadow: 0.9vh 0.9vh 3vh black;

}

a button.home-btn:focus {
   outline: none;
   transform: scale(1.05);
   box-shadow: 0.9vh 0.9vh 3vh black;
}

input {
   width: 35vh;
   max-width: 95% !important;
   height: auto;
   padding: 0.7vh 1vh;
   font-size: 1em;
   margin-bottom: 2vh;
   border: 0.1vh solid white;
   background: rgba(255,255,255,.4);
   color: white;
}

input:focus {
   outline: none;
   box-shadow: 0 0 3vh white;
}

@-webkit-keyframes autofill {
   0%,100% {
       color: #fff;
       background: rgba(255,255,255,.4);
   }
}

input:-webkit-autofill {
   -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
   -webkit-animation-name: autofill;
   -webkit-animation-fill-mode: both;
}

textarea {
   width: 35vh;
   max-width: 95% !important;
   height: auto;
   padding: 0.7vh 1vh;
   font-size: 1em;
   margin-bottom: 2vh;
   border: 0.1vh solid white;
   background: rgba(255,255,255,.4);
   color: white;
   font-family: Raleway;
}

textarea:focus {
   outline: none;
   box-shadow: 0 0 3vh white;
}

button {
   height: auto;
   padding: 0.5vh 1.5vh;
   font-size: 1em;
   margin-bottom: 1vh;
   border: 0.1vh solid white;
   background: rgba(255,255,255,.9);
   color: white;
   cursor: pointer;
   color: black;
}


button:focus {
   outline: none;
   box-shadow: 0 0 3vh white;
}

.progress {
   margin-top: 0;
   margin-bottom: 4vh;
   background-color: grey;
   position:relative;
   width:37vh;
   border: 0;
   padding: 0;
}

.bar {
   background-color: orangered;
   width:0%;
   height:5px;
}

.percent {
   position: absolute;
   text-align: center;
   display:inline-block;
}

.menuItem {
   width: 3em;
}

.menuItemBtn:disabled {
   color: gray;
}

select {
   width: 37.1vh;
   max-width: 95% !important;
   height: auto;
   padding: 0.7vh 1vh;
   font-size: 1em;
   margin-bottom: 2vh;
   border: 0.1vh solid white;
   background: rgba(255,255,255,.4);
   color: white;
}

select option {
   color: black;
}
