/* VARIABLES */

:root {
   --primary-accent: #85a429;
   --primary-link: #ffdba4;
}

/* STYLES */

body, html {
   min-height: 100%;
   padding: 0;
   margin: 0;
   background: linear-gradient(to bottom right, #5f2206 , #954c1f, #5f2206 75%) no-repeat fixed;
   background: url('../img/background.jpg') center no-repeat fixed;
   background-size: cover;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.7vh;
   line-height: 1.8;
}

a {
   color: inherit;
   text-decoration: none;
}

a button {
   width: 15vh;
   background: none;
   border: 0.3vh solid lightgreen;
   border-radius: 0.6vh;
   color: lightgreen;
   padding: 1.6vh 0;
   font-size: 2vh;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-right: 3vh;
   cursor: pointer;
   box-shadow: 0.3vh 0.3vh 1vh black;
   transition-duration: 0.2s;
}

a button:hover {
   transform: scale(1.05);
   box-shadow: 0.9vh 0.9vh 3vh black;

}

.container {
   position: relative;
   display: grid;
   grid-gap: 1%;
   min-height:  88vh;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: 27vh max-content;
   grid-template-areas:
   "header header header header header header header header"
   "aside aside aside aside main main main main"
   ;
}

header {
   grid-area: header;
   height: 25vh;
   overflow: hidden;
   position: relative;
   background-color: rgba(0,0,0, 1);
}

.top {
   height: 20vh;
   width: 100%;
   background: url("../img/top.png") center no-repeat;
   background-size: contain; 
}

.navbar {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(#222, #111);
   position: absolute;
   bottom: 0.1vh;
   height: 5vh;
   width: 100%;
}

h1 {
   color: white;
   margin-right: 10%;
   line-height: 1.5;
   text-shadow: 0.4vh 0.4vh black;
   font-size: 3.9vh;
}

h3 {
   color: white;
   line-height: 1.8;
}

/* nav {
   margin-top: 2vh;
} */

nav ul {
   display: inline-block;
   list-style: none;
   margin: 0 auto;
   padding-inline-start: 0;
}

nav ul li{
   display: inline-block;
}

nav ul li a {
   display: inline-block;
   width: 15vh;
   text-align: center;
   font-weight: 100;
   color: WHITE;
   text-decoration: none;
   padding: 6% 0;
}

nav ul li a:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

aside {
   background-color: rgba(255, 255, 255, 0);
   margin-left: 2vh;
   grid-area: aside;
   margin-top: 3vh;
   padding-right: 3vh;
}

.front-left {
   display: flex;
   justify-content: flex-end;   
   align-content: center;
}

.front-right {
   margin-top: 6vh;
}

main {
   margin-right: 2vh;
   grid-area: main;
   margin-top: 3vh;
   padding-left: 3vh;
}

main a {
   color: var(--primary-link);
   text-decoration: underline;
}

footer {
   min-height: 8vh;
   padding: 2vh;
   grid-area: footer;
   bottom: 0;
   width: 100%;
   color: #954c1f;
   font-size: 1.5vh;
   box-sizing: border-box;
   background-color: rgba(95, 34, 6, 0.1) ;
   border-top: 1px solid var(--primary-accent);
}

@media screen and (max-width:1235px) {

   nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   nav ul li a {
      margin-right: 0;
   }

   aside {
      display: none;
   }

   main {
      width: fit-content;
      margin: auto;
      padding: 0;
   }

   .container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 25vh max-content;
      grid-template-areas:
      "header"
      "main"
      ;
   }

}