/* VARIABLES */

:root {
   --primary-accent: #85a429;
   --primary-link: #ffdba4;
}

/* STYLES */

body, html {
   min-height: 100%;
   padding: 0;
   margin: 0;
   background: linear-gradient(to bottom right, #5f2206 , #954c1f, #5f2206 75%) no-repeat fixed;
   background: url('../img/background.jpg') center no-repeat fixed;
   background-size: cover;
   color: white;
   font-family: Raleway;
   font-size: 1.7vh;
   line-height: 1.8;
   letter-spacing: 0.8vh;
}

a {
   color: inherit;
   text-decoration: none;
}

a:focus {
   outline:none;
}

.container {
   position: relative;
   display: grid;
   grid-gap: 1%;
   min-height:  88vh;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 24vh max-content;
   grid-template-areas:
   "header"
   "main"
   ;
}

header {
   grid-area: header;
   height: 22vh;
   overflow: hidden;
   position: relative;
   background-color: #222;
   box-shadow: 0.6vh 0.6vh 2vh black;
}

.top {
   height: 17vh;
   width: 100%;
   background: url("../img/top.png") center no-repeat;
   background-size: contain; 
}

.navbar {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   background-color: #222;
   position: absolute;
   bottom: 0;
   height: 5vh;
   width: 100%;
}

h1 {
   color: white;
   margin-right: 10%;
   line-height: 1.5;
   text-shadow: 0.4vh 0.4vh black;
   font-size: 2.3em;
   margin-block-start: 0;
}

h3 {
   color: white;
   line-height: 1.8;
}

/* nav {
   margin-top: 2vh;
} */

nav ul {
   display: inline-block;
   list-style: none;
   margin: 0 auto;
   padding-inline-start: 0;
}

nav ul li{
   display: inline-block;
   text-align: center;
}

nav ul li a {
   display: inline-block;
   width: 16vh;
   text-align: center;
   font-weight: 100;
   color: WHITE;
   text-decoration: none;
   padding: 6% 0;
   text-indent: 0.7vh;
   border-radius: 0.5vh;
}

nav ul li a:hover {
   background-image: linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 50%);
}

.green {
   max-width: fit-content;
   min-width: 50vh;
   margin: auto;
   color: lightgreen;
   border: 0.3vh solid lightgreen;
   padding: 1vh 4vh;
   text-align: center;
   font-weight: 600;
   background-color: rgba(255,255,255,0.5);
}

.red {
   max-width: fit-content;
   min-width: 50vh;
   margin: auto;
   color: red;
   border: 0.3vh solid red;
   padding: 1vh 4vh;
   text-align: center;
   font-weight: 600;
   background-color: rgba(255,255,255,0.5);
}

.home {
   display: grid;
   grid-gap: 3vh;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: max-content;
   grid-template-areas:
   "homeLeft homeRight"
   ;
}

.home-left {
   display: flex;
   justify-content: flex-end;   
   align-content: center;
   grid-area: homeLeft;
   padding-top: 5vh;
   padding-right: 5vh;
}

.home-right {
   margin-top: 6vh;
   grid-area: homeRight;
}

.register {
   display: grid;
   grid-gap: 6vh;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: max-content;
   grid-template-areas:
   "registerLeft registerRight"
   ;
}

.register-left {
   display: flex;
   justify-content: flex-end;   
   align-content: center;
   grid-area: registerLeft;
   margin-top: 7vh;
   margin-right: 5vh;
}

.register-right {
   margin-top: 6vh;
   grid-area: registerRight;
}

main {
   margin-right: 2vh;
   grid-area: main;
   margin-top: 3vh;
   padding-left: 3vh;
}

@media screen and (max-width:1250px) {

   nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   nav ul li a {
      margin-right: 0;
   }

   .home {
      max-width: 95%;
      margin: auto;
      grid-template-areas:
      "homeRight homeRight"
      ;
   }

   .home-left {
      display: none;
   }

   .home-right {
      width: fit-content;
      margin: auto;
      padding: 0;
   }

}

@media screen and (max-width:670px) {

   main {
      margin: 0 auto;
   }

   h1 {
      margin-block-start: 0;
      padding: 0;
   }

   h1 span {
      font-size: 3.5em;
   }

   a button {
      display: block;
      width: 70%;
      margin: auto;
      border-color: white !important;
      margin-bottom: 2vh;
      text-decoration: none;
   }

}